body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: soft pink;
}

header {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.job, .education-item, .project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    color: green;
}
